/bootloader/UComputer/WinFormsApp1-2025-2-24/WinFormsApp1-2025-2-17/WinFormsApp1/bin
/bootloader/UComputer/WinFormsApp1-2025-2-24/WinFormsApp1-2025-2-17/TestResults
/bootloader/UComputer/WinFormsApp1-2025-2-24/WinFormsApp1-2025-2-17/WinFormsApp1Tests/bin
